body{
    display: flex;
    justify-content: center;
}
.App{
    border: 1px solid green;
    width: 500px;
    height: fit-content;
}
.treeHeader{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid green;
}
.treeBranches{
    min-height: 100px;
    max-height: fit-content;
    padding: 10px;
}
.treeButtons{
    display: flex;
    border-top: 1px solid green;
    justify-content: space-between;
}
.treeButtons button{
    margin: 10px;
    width: 100px;
    border: 1px solid green;
    background-color: white;
}
.treeButtons button:active{
    border: 2px solid green;
}
